.listingContent{
    background-color: rgba(159, 217, 231, 0.63);
    box-shadow: 0px 12px 32px 0 black;
    backdrop-filter: blur(8px);
    padding: 45px 5px 0px 5px;
}

.appListing{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgb(36,7,80);
    background: linear-gradient(149deg, rgba(36,7,80,1) 25%, rgba(52,76,100,1) 55%, rgba(87,123,141,1) 85%, rgba(87,166,161,1) 95%);
}
.layout{
    position: absolute;
    top: 0px;
    left: 10px;
    right: 16px;  
}
.Buttons{
    position: absolute;
    top: 0px;
    left: 10px;
    right: 16px;  
}